*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline:none;
    zoom: 0;
    user-select: none;
    -webkit-tap-highlight-color:rgba(255,255,255,0);
}
body{
    background-image:url("desktop.gif");
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}
/* sweet alert code goes here  */
/* winner alert code goes here  */
#sweetAlert,#winnerAlert{
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.774);
    width: 100%;
    height: 100vh;
}
#sweet,#Alert{
    width: 20rem;
    min-width:1rem;
    background-color: white;
    padding: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.356);
    border-radius: .5rem;
    transform: scale(0);
    transition: 0.5s linear;
}
#sweetAlert img{
    width: 5rem;
}
#sweet p{
    text-align: center;
    padding: 1rem 0;
}
#btn1,#btn2{
    color: white;
    background-color: rgb(0, 119, 255);
    font-weight: 400;
    margin: 0;
}
/* winner alert code goes here  */
#winnerAlert{
    display:none;
}
#Alert{
    border:none;
    box-shadow:inset 1px 1px 5px rgb(255, 0, 255);
    background:black;
    font-variant:small-caps;
}
#result{
    font-size: 2rem;
    color:white;
    letter-spacing: 3px;
}
#Result{
    font-size: 2rem;
    color: white;
    padding: .5rem 0 0;
}
/* sound on off button  */
#sound{
    position: fixed;
    top:0;
    right: 0;
    padding: 1rem;
    cursor: pointer;
    font-size: 2rem;
    color: white;
    text-shadow: 1px 1px 10px rgb(0, 255, 255),0px 0px 10px rgb(0, 255, 255),-1px -1px 10px rgb(0, 255, 255);
    display: none;
}
#sound:hover{
    transform: scale(1.1);
}
#sound:active{
    transform: scale(0.8);
}
/* header goes here */
/* heading design goes here */
#heading,#winner,#Alert h1{     /*alert heading h1 code goes here*/
    font-family: 'Sofia', cursive;
    font-size:2rem;
    color:white;
    background-color:black;
    text-shadow:1px 1px 5px rgb(255, 125, 255),-1px -1px 5px rgb(247, 102, 247);
    display: inline-block;
    padding: 7px 20px;
    border-radius:30px;
    margin: 10px;
} 
#winner{
    font-size:1.6rem;
    padding:5px 20px;
    text-shadow:1px 1px 5px teal,-1px -1px 5px teal;
}
/* alert heading h1 code goes here  */
#Alert h1{
    font-size:3rem;
    padding: 7px 0;
} 
/* article section goes here */
/* interface goes here */
#interface{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    width:60%;
}
/* box to apply images */
.box{
    min-width: 50px;
    max-width: 230px;
    margin: 0.5rem;
    border-radius: 5px;
}
.box img{
    width: 100%;
    border-radius:7px;
}
/* versus image setting goes here */
.versus{
    width: 10%;
}
.versus img{
    width: 100%;
    height:100%;
    border-radius: 50%;
}
/* star are here  */
h2 i{
    color: rgba(0, 0, 0, 0.5);
}
/* player name  */
.player,#result{
    text-transform:capitalize;
}
/* control section goes here */
#controls{
    display:none;
}
button,#btn2{
    padding: 0.4rem 1.5rem;
    border:none;
    border-radius:5px ;
    background-color: rgb(0, 211, 211);
    color:red;
    font-weight: bold;
    font-size: 1.3rem;
    margin:2rem 0;
    cursor:pointer;
    box-shadow:inset -1px -1px 5px rgb(0, 99, 99);
}
button:hover,#btn2:hover{
    background-color: rgb(0, 255, 255);
    color:rgb(255, 0, 170);
}
button:active,#btn2:hover{
    box-shadow: none;
    color:rgb(0, 119, 255);
}
button i{
    font-size: 2.5rem;
    font-weight: bolder;
}
#paper,#rock,#scissors{
    border-radius:50%;
    margin: 0 .5rem;
    padding: 0.5rem ;
    width: 3.6rem;
    height: 3.6rem;
}
/* media queries go here */
@media (max-width:600px) {
    html{
        font-size: 13px;
    }
    body{
        background:url("phone.gif");
        background-size: 100vw 100vh;
        height: 100vh;
        width: 100%;
    }
    #sweet,#Alert{
        width: 80%;
    }
    #interface{
        width:95%;
    }
    .box {
        width:50%;
    }
    .versus{
        width:10%;
    }
    #sweet,#Alert{
        width: 100%;
        margin: 0 auto;
    }
}
