*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline:none;
    zoom: 0;
    user-select: none;
}
body{
    background-image:url("desktop.gif");
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}
/* sound on off button  */
#sound{
    position: fixed;
    top:0;
    right: 0;
    padding: 1rem;
    cursor: pointer;
    font-size: 2rem;
    color: white;
    text-shadow: 1px 1px 10px rgb(0, 255, 255),0px 0px 10px rgb(0, 255, 255),-1px -1px 10px rgb(0, 255, 255);
    display: none;
}
#sound:hover{
    transform: scale(1.1);
}
#sound:active{
    transform: scale(0.8);
}
/* header goes here */
/* heading design goes here */
#heading,#winner{
    font-family: 'Sofia', cursive;
    font-size:2rem;
    color:white;
    background-color:black;
    text-shadow:1px 1px 5px rgb(255, 125, 255),-1px -1px 5px rgb(247, 102, 247);
    display: inline-block;
    padding: 10px 20px;
    border-radius:30px;
    margin: 10px;
}
#winner{
    font-size:1.6rem;
    text-shadow:1px 1px 5px teal,-1px -1px 5px teal;
}
/* article section goes here */
/* interface goes here */
#interface{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    width:60%;
}
/* box to apply images */
.box{
    min-width: 50px;
    max-width: 230px;
    margin: 0.5rem;
    border-radius: 5px;
}
.box img{
    width: 100%;
    border-radius:7px;
}
/* versus image setting goes here */
.versus{
    width: 10%;
    /* border:1px solid black; */
}
.versus img{
    width: 100%;
    height:100%;
    border-radius: 50%;
}
/* control section goes here */
#controls{
    display:none;
}
button{
    padding: 0.5rem 1.5rem;
    border:none;
    border-radius:5px ;
    background-color: rgb(0, 211, 211);
    color:red;
    font-weight: bold;
    font-size: 1.3rem;
    margin:2rem 0;
    cursor:pointer;
}
#paper,#rock,#scissors{
    border-radius:5px;
    margin: 0 .5rem;
    padding: 0.5rem 2rem;
}
button:hover{
    background-color: rgb(0, 255, 255);
    color:rgb(255, 0, 170);
    box-shadow:inset -1px -1px 5px rgb(0, 99, 99);
}
button:active{
    box-shadow:0px 0px 5px rgb(0, 204, 255);
    color:rgb(0, 119, 255);
}
button i{
    font-size: 2.5rem;
    font-weight: bolder;
}
/* media queries go here */
@media (max-width:600px) {
    body{
        background:url("phone.gif");
        background-repeat: no-repeat;
        background-size: cover;
    }
    #interface{
        width:95%;
    }
    .box {
        width:50%;
    }
    .versus{
        width:10%;
    }
}
